@page
@model CandidateManagement_RazorPages.Pages.CandidateManage.DetailsModel

@{
    ViewData["Title"] = "Candidate Profile Details";
}

<h1 class="text-center mb-4">Candidate Profile Details</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h4 class="card-title text-muted text-center">Profile Information</h4>
                <hr />

                <dl class="row">
                    <dt class="col-sm-4 text-end fw-bold">
                        @Html.DisplayNameFor(model => model.CandidateProfile.Fullname)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.CandidateProfile.Fullname)
                    </dd>

                    <dt class="col-sm-4 text-end fw-bold">
                        @Html.DisplayNameFor(model => model.CandidateProfile.Birthday)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.CandidateProfile.Birthday)
                    </dd>

                    <dt class="col-sm-4 text-end fw-bold">
                        @Html.DisplayNameFor(model => model.CandidateProfile.ProfileShortDescription)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.CandidateProfile.ProfileShortDescription)
                    </dd>

                    <dt class="col-sm-4 text-end fw-bold">
                        @Html.DisplayNameFor(model => model.CandidateProfile.ProfileUrl)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.CandidateProfile.ProfileUrl)
                    </dd>

                    <dt class="col-sm-4 text-end fw-bold">
                        @Html.DisplayNameFor(model => model.CandidateProfile.Posting)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.CandidateProfile.PostingId)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-4">
    <a asp-page="./Edit" asp-route-id="@Model.CandidateProfile?.CandidateId" class="btn btn-primary me-2">Edit</a>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>
