@page
@model CandidateManagement_RazorPages.Pages.JobPosting.DetailsModel

@{
    ViewData["Title"] = "Job Posting Details";
}

<h1 class="text-center mb-4">Job Posting Details</h1>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Job Posting Information</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3 fw-bold">
                @Html.DisplayNameFor(model => model.JobPosting.JobPostingTitle)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.JobPosting.JobPostingTitle)
            </dd>

            <dt class="col-sm-3 fw-bold">
                @Html.DisplayNameFor(model => model.JobPosting.Description)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.JobPosting.Description)
            </dd>

            <dt class="col-sm-3 fw-bold">
                @Html.DisplayNameFor(model => model.JobPosting.PostedDate)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.JobPosting.PostedDate)
            </dd>
        </dl>
    </div>
</div>

<div class="mt-3">
    <a asp-page="./Edit" asp-route-id="@Model.JobPosting?.PostingId" class="btn btn-primary me-2">Edit</a>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>
